@layer utilities {
	.section {
		@apply max-w-[1300px] w-full mx-auto;
	}
}

.scrollbar::-webkit-scrollbar {
	width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #878787;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: #5a5a5a;
	border-radius: 100vh;
}

.sb-g {
	scrollbar-gutter: stable;
}

#table-head {
	animation: blur linear both;
	animation-timeline: scroll();
	animation-range: 0 1500px;
	z-index: 10;
}

@keyframes blur {
	to {
		box-shadow: 0 5px 50px -5px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.3);
		color: yellow;
		background: rgba(0, 0, 0, 0.45);
		backdrop-filter: blur(15px);
		transform: translateY(-25px);
		width: 100%;
	}
}
